<h2>Your Cart</h2>

<table>
  <!--il metodo render cicla in automatico su ogni collection che gli viene passata-->
  <!--Il partial deve stare nella directory dell'oggeto che verrà renderizzato, quindi nella directory line_items-->
  <%= render(@cart.line_items) %>
  <tr>
  <tr colspan="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<%= button_to 'Checkout', new_order_path, method: :get %>
<%= button_to 'Empty Cart', @cart, method: :delete, remote: true, data: {confirm: 'Do you want?'} %>


