<h1>Patients#show</h1>

<!--href="/patients/17"-->
<%= link_to 'patient_path', patient_path(@id) %>
<br/>
<!--href="http://localhost:3000/patients/17"-->
<%= link_to 'patient_url', patient_url(@id) %>
<br/>
<%= @photos_path %>
