// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-food {
  text-align: center;
}

.main_zone_image {
  width: 150px;
  height: 150px;
  background-color: white;
}

.zone_image {
  width: 100px;
  height: 100px;
  background-color: white;
}

.badge_container {
  border: 1px solid;
  border-color: lightgray;
}

#carb_name, #carb_grams, #fat_name, #fat_grams, #protein_name, #protein_grams {
  font-weight: bold;
}