<div class="col-sm-3">
  <% if food %>
      <div class="badge_container">
        <span class="badge_image">
          <%= link_to(
                  image_tag(food.name, class: 'zone_image'),
                  id: food.id,
                  remote: true
              ) %>
          <strong><%= food.name %></strong>
        </span>
        <span class="badge_info">
          <div><%= nutrition(food) %></div>
        </span>
      </div>
  <% else %>
      <div></div>
  <% end %>
</div>
